.head{
    background-image: url('./pics/wood2.PNG');
    width:100%;
    height:400px;
    object-fit: cover;
    overflow: hidden;
    /* remove line between pictures */
    display: block;
}

.title{
    font-size: 100px;
    color: white;
    padding: 150px;
}

.body{
    background-image: url('./pics/wood.PNG');
    height: 1800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
 /* separate the sections */
.item-area1{
    float: left;
    width: 100%;
}
.item-area2{
    float: right;
    width: 100%;
}
.item-area3{
    float: left;
    width: 100%;
}

/* item-area1  */
.mountain, .text-area1{
    float: left;
    padding: 50px 100px;
}
.mountain{
    height:500px;
}

/* item-area2  */
.mushrooms, .text-area2{
    float: right;
    padding: 50px 100px;
}
.mushrooms{
    height:500px;
}

/* item-area3  */
.words, .text-area3{
    float: left;
    padding: 50px 100px;
}
.words{
    height:500px;
    /* left: -200px;
    bottom: -650px; */
}

.text-area1, .text-area3{
    padding-left: 0px;
}
.text-area2{
    padding-right: 0px;
}
p{
    font-size: 30px;
    color: black;
    font-weight: 500;
}
h1{
    color: black;
}

